


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.author-section {
    width: 80%;
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #333;
}

.author-header {
    text-align: center;
    margin-bottom: 20px;
}

.author-header-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.author-list-container {
    padding: 10;
}

.author-list {
    list-style-type: none;
    padding: 0;
}

.author-list-item {
    padding: 5%;
}

.author-title-flex {
    display: flex;
    flex-direction: row;
}

.author-biography {
    order: 2;
    margin-left: auto;
}

.author-list-link {
    margin-bottom: 20px;
    margin-right: 10px;
    order: 1;
}

.author-list-cover {
    order: 1;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 25px;
    margin-right: auto;
}


.pagination{
    padding: 3%;
  }
  