body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

main {
    width: 80%;
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #333;
}

.book-header {
    text-align: center;
    margin-bottom: 20px;
}

.book-title {
    font-size: 36px;
}

.book-author{
    font-size: 24px;
    margin-bottom: 20px;
}

.book-details-image{
    display: flex;
}

.book-cover-image {
    width: 200px;
    height: 300px;
}

.book-details-flex {
    font-size: 18px;
    margin: 10px;
    display: grid;
    grid-template-columns: 20% 25%;
    grid-template-rows: 20% 25%;

}

.book-details-flex dt{
    margin: 10px;
}

.book-details-flex dd{
    margin: 10px;
}

.book-summary {
    font-size: 18px;
    margin-top: 20px;
    
}

.book-thoughts {
    font-size: 18px;
    margin-top: 20px;
}

a.back-link {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

a.back-link:hover {
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
}
